name: CI (Master Push)

on:
  push:
    branches:
      - master

env:
  BUILD_TYPE: Release

jobs:
  # Master branch push - builds with default compiler (g++ on Ubuntu)
  build-master:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }}

    - name: Build benchmarks
      run: |
        cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }} --target chunked_array_benchmarks
        cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }} --target entable_benchmarks

    - name: Run tests
      run: ctest --output-on-failure -C ${{ env.BUILD_TYPE }} --test-dir ${{ github.workspace }}/build
